# Docker Hub
DOCKERHUB_USERNAME=dein_dockerhub_username

# Cloudflare Tunnel
CLOUDFLARE_TUNNEL_TOKEN=dein_tunnel_token

# RAPT API
RAPT_EMAIL=deine@email.ch
RAPT_PASSWORD=deinPasswort

# OpenAI
OPENAI_API_KEY=sk-...
